<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlju.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.hlju.model.User" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="back_1" property="back1" jdbcType="VARCHAR" />
    <result column="back_2" property="back2" jdbcType="VARCHAR" />
    <result column="back_3" property="back3" jdbcType="VARCHAR" />
    <result column="back_4" property="back4" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="ResponseMap" type="com.hlju.response.UserResp" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="INTEGER" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    user_id, user_password, user_type, user_phone, user_email, back_1, back_2, back_3,
    back_4
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.hlju.model.User" >
    insert into user (user_id, user_password, user_type,
      user_phone, user_email, back_1,
      back_2, back_3, back_4
      )
    values (#{userId,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userType,jdbcType=INTEGER},
      #{userPhone,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, #{back1,jdbcType=VARCHAR},
      #{back2,jdbcType=VARCHAR}, #{back3,jdbcType=VARCHAR}, #{back4,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hlju.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="back1 != null" >
        back_1,
      </if>
      <if test="back2 != null" >
        back_2,
      </if>
      <if test="back3 != null" >
        back_3,
      </if>
      <if test="back4 != null" >
        back_4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="back1 != null" >
        #{back1,jdbcType=VARCHAR},
      </if>
      <if test="back2 != null" >
        #{back2,jdbcType=VARCHAR},
      </if>
      <if test="back3 != null" >
        #{back3,jdbcType=VARCHAR},
      </if>
      <if test="back4 != null" >
        #{back4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hlju.model.User" >
    update user
    <set >
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="back1 != null" >
        back_1 = #{back1,jdbcType=VARCHAR},
      </if>
      <if test="back2 != null" >
        back_2 = #{back2,jdbcType=VARCHAR},
      </if>
      <if test="back3 != null" >
        back_3 = #{back3,jdbcType=VARCHAR},
      </if>
      <if test="back4 != null" >
        back_4 = #{back4,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>

  <select id="getUserPassword" parameterType="java.lang.String" resultType="java.lang.String">
    select
    user_password
    from user where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <insert id="insertUser" parameterType="com.hlju.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="back1 != null" >
        back_1,
      </if>
      <if test="back2 != null" >
        back_2,
      </if>
      <if test="back3 != null" >
        back_3,
      </if>
      <if test="back4 != null" >
        back_4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="back1 != null" >
        #{back1,jdbcType=VARCHAR},
      </if>
      <if test="back2 != null" >
        #{back2,jdbcType=VARCHAR},
      </if>
      <if test="back3 != null" >
        #{back3,jdbcType=VARCHAR},
      </if>
      <if test="back4 != null" >
        #{back4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="trueUserId" parameterType="java.lang.String" resultType="java.lang.String">
    select
    user_id
    from user where user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteUserAll" parameterType="com.hlju.model.User">
    delete from user
    where
    <if test="userId != null" >
      user_id = #{userId,jdbcType=VARCHAR},
    </if>
    <if test="userPassword != null" >
      user_password = #{userPassword,jdbcType=VARCHAR},
    </if>
    <if test="userType != null" >
      user_type = #{userType,jdbcType=INTEGER},
    </if>
    <if test="userPhone != null" >
      user_phone = #{userPhone,jdbcType=VARCHAR},
    </if>
    <if test="userEmail != null" >
      user_email = #{userEmail,jdbcType=VARCHAR},
    </if>
    <if test="back1 != null" >
      back_1 = #{back1,jdbcType=VARCHAR},
    </if>
    <if test="back2 != null" >
      back_2 = #{back2,jdbcType=VARCHAR},
    </if>
    <if test="back3 != null" >
      back_3 = #{back3,jdbcType=VARCHAR},
    </if>
    <if test="back4 != null" >
      back_4 = #{back4,jdbcType=VARCHAR},
    </if>
  </delete>
  
  <insert id="insertUserList" parameterType="java.util.List">
    insert into user
      (user_id,user_password,user_type,user_phone,user_email)
    VALUES
    <foreach collection="list" item="item" index="index" separator="," >
      (<if test="item.userId != null">
        #{item.userId,jdbcType=VARCHAR},
      </if>
      <if test="item.userPassword != null">
        #{item.userPassword,jdbcType=VARCHAR},
      </if>
      <if test="item.userType != null">
        #{item.userType,jdbcType=INTEGER},
      </if>
      <if test="item.userPhone != null">
        #{item.userPhone,jdbcType=VARCHAR},
      </if>
      <if test="item.userEmail != null">
        #{item.userEmail,jdbcType=VARCHAR}
      </if>)
    </foreach>
  </insert>

  <delete id="deleteUserListById" parameterType="java.util.List">
    delete from user
    where
    user_id IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>

  <select id="getUser" parameterType="com.hlju.model.User" resultMap="ResponseMap">
    select
    user_id,user_type,user_phone,user_email
    from user
    where 1=1
    <if test="userId != null" >
      and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="userPassword != null" >
      and user_password = #{userPassword,jdbcType=VARCHAR}
    </if>
    <if test="userType != null" >
      and user_type = #{userType,jdbcType=INTEGER}
    </if>
    <if test="userPhone != null" >
      and user_phone = #{userPhone,jdbcType=VARCHAR}
    </if>
    <if test="userEmail != null" >
      and user_email = #{userEmail,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="getUserAll" resultMap="ResponseMap" parameterType="com.hlju.model.User" >
    select
    <include refid="Base_Column_List" />
    from user
    where 1=1
    <if test="userId != null" >
      and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="userPassword != null" >
      and user_password = #{userPassword,jdbcType=VARCHAR}
    </if>
    <if test="userType != null" >
      and user_type = #{userType,jdbcType=INTEGER}
    </if>
    <if test="userPhone != null" >
      and user_phone = #{userPhone,jdbcType=VARCHAR}
    </if>
    <if test="userEmail != null" >
      and user_email = #{userEmail,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="getUserRespList" resultMap="ResponseMap" parameterType="com.hlju.model.User" >
    select
    <include refid="Base_Column_List" />
    from user
    where 1=1
    <if test="userId != null" >
      and user_id = #{userId,jdbcType=VARCHAR}
    </if>
    <if test="userPassword != null" >
      and user_password = #{userPassword,jdbcType=VARCHAR}
    </if>
    <if test="userType != null" >
      and user_type = #{userType,jdbcType=INTEGER}
    </if>
    <if test="userPhone != null" >
      and user_phone = #{userPhone,jdbcType=VARCHAR}
    </if>
    <if test="userEmail != null" >
      and user_email = #{userEmail,jdbcType=VARCHAR}
    </if>
  </select>

</mapper>